# Extensions
*.pyc
*.pyo
*.py~
*.txt~
.gitignore~

### Django
Backend/media

### Vue JS ###
.DS_Store
node_modules

# local env files
#.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# nuxt
.nuxt/

# dist
dist/
